<%- include('../partials/header',{title:title}) %>
    <% if(data.length>0){ %>
        <p class="text-red-900 text-3xl text-center py-3 font-extrabold">Here are the Registered Homes</p>
        <div class=" flex flex-wrap justify-center px-2 gap-2.5 items-center py-2.5">
            <% data.forEach(x=>{ %>
                <div class="border-2 border-blue-900 mt-1.5 h-[280px] w-[400px] px-2 py-3  rounded-4xl flex flex-col ">
                    <div class="border-2 border-black rounded-4xl h-[160px] w-[70%] mx-auto overflow-hidden">
                        <img src="<%= x.houseImg %>" class="h-full w-full object-cover ">
                    </div>
                    <div class="flex justify-between pt-1">
                        <p>
                            Owner:<%=x.fullName %>
                        </p>
                        <p>
                            Price:$<%=x.housePrice %>
                        </p>
                    </div>
                    <div class="flex justify-between pt-1">
                        <p>
                            📍<%=x.houseCity %>
                        </p>
                        <p>
                            Rooms:<%=x.houseRooms %>
                        </p>
                    </div>
                    <div class="flex justify-between pt-2">
                        <div class="flex gap-2 ">
                            <p
                                class="bg-blue-700 py-1 px-4 rounded-2xl text-white cursor-pointer border-2 border-black hover:bg-transparent hover:text-black ">
                                <a href="/homes/<%= x.houseId %>">Details</a></p>
                            <form action="/bookings" method="POST">
                                <input type="hidden" name="houseId" value="<%= x.houseId %>">
                                <button type="submit"
                                class="py-1 px-4 rounded-2xl cursor-pointer border-2 border-black hover:bg-green-700 hover:text-white">
                                <% if (bookings.includes(x.houseId)) { %>
                                Undo
                            <% } else { %>
                                Book
                            <% } %>  
                                </button>
                            </form>
                        </div>
                        <form action="/favourites" method="POST">
                            <input type="hidden" name="houseId" value="<%= x.houseId %>">
                            <button type="submit"
                                class="py-1 px-4 rounded-2xl cursor-pointer border-2 border-black hover:bg-red-700 hover:text-white">
                            <% if (favourites.includes(x.houseId)) { %>
                                Remove from Favourites
                            <% } else { %>
                                Add to Favourites
                            <% } %> </button>
                        </form>
                    </div>
                </div>
                <% })%>
        </div>
        <% } else {%>
            <p>No Data Found...</p>
            <% } %>
                <%- include('../partials/footer')%>