<%- include('partials/header',{title:title}) %>
    <% if(data.length>0){ %>
        <div class="border-2 border-black flex flex-col justify-center items-center py-2.5">
            <% data.forEach(x=>{ %>
                <div class="border-2 border-blue-900 mt-1.5 w-[50%] py-1 flex flex-col justify-center items-center">
                    <p>
                        Name:<%=x.name %>
                    </p>
                    <p>
                        City:<%=x.city %>
                    </p>
                    <p>
                        Price:<%=x.price %>
                    </p>
                    <p>
                        Rooms:<%=x.rooms %>
                    </p>
                </div>
                <% })%>
        </div>
        <% } else {%>
            <p>No Data Found...</p>
            <% } %>
                <%- include('partials/footer')%>